<a href="https://colab.research.google.com/github/vedanshu786/ML-project/blob/main/salary_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/salaries.csv')
df.head(3)

  company               job     degree  salary_more_then_100k
0  google   sales executive  bachelors                      0
1  google   sales executive    masters                      0
2  google  business manager  bachelors                      1

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df.company = le.fit_transform(df.company)
df.job = le.fit_transform(df.job)
df.degree = le.fit_transform(df.degree)
df.head(3)

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1

In [ ]:
from sklearn import tree
from sklearn.model_selection import train_test_split
X = df.drop('salary_more_then_100k',axis = 'columns')

In [ ]:
tr = tree.DecisionTreeClassifier()

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,df.salary_more_then_100k,test_size=0.1)
X_test

    company  job  degree
15        1    1       1
9         0    0       1

In [ ]:
tr.fit(X_train,Y_train)

DecisionTreeClassifier()

In [ ]:
tr.predict(X_test)

array([1, 0])

In [ ]:
tr.score(X_test,Y_test)

0.5